* {
    margin: 0;
    padding: 0;
    color:black
}
header {
    display:flex;
    justify-content:space-evenly;
}
body{
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    background-size:cover;
}